 .Hair {
    color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    top: 65%;
    bottom: 20%;
    left: 65%;
    right:45%;
    position: absolute;

 }
 .Aboutus {
   color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    top: 265%;
    bottom: 25%;
    left: 22%;
    right: 30%;
    position: absolute;
    text-align: auto;
 }
 .Products {
   color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    position: absolute;
    top: 225%;
    bottom: 0%;
    left: 65%;
    right: 80%;

 }
 .Nails {
   color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    position: absolute;
    top:100%;
    bottom: 0%;
    left: 35%;
    right: 55%;
 }
 .Massage {
   color: #CEB26B;
    font-size: 70px;
    font-family: gabriola;
    position: absolute;
 }
 .SkincareMakeup {
   color: #CEB26B;
    font-size: 70px;
    font-family: gabriola;
    position: absolute;
 }
 .Waxing {
   color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    position: absolute;
    top: 140%;
    bottom: 0%;
    left: 65%;
    right: 45%;
 }
 .Sugaring {
   color: #CEB26F;
   position: absolute;
   font-family: gabriola;
   font-size: 40px;
   top: 145%;
   bottom: 0%;
   left: 65%;
   right: 25%;
 }
 .Microblading {
   color: #CEB26B;
    font-size: 40px;
    font-family: gabriola;
    position: absolute;
    top: 185%;
    bottom: 0%;
    left: 0%;
    right: 55%;
 }
 .andEyelashes {
   position: absolute;
   color: #CEB26F;
   font-size: 40px;
   top: 190%;
   bottom: 0%;
   left: 0%;
   right: 55%;
   font-family: gabriola;
 }
 .pic1 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 49%;
    right: 0%;
    border: 10px solid #CEB26B;
    border-radius: 100% 100% 100% 100%;
 }
 * {
    background-color: #0E0C0B;
 }
 select {
    width: 120px;
    height: 50px;
    position: absolute;
    top: 60px;
    bottom: 350px;
    left: 550px;
    right: 100px;
    font-family: gabriola;
    font-size: 50px;
    color: #CEB26B;
    background: linear-gradient(pink 60%, black);
    border-radius: .40rem;
 }
 .pic2 {
    width: 49%;
    height: 70%;
    position: absolute;
    left: 0%;
    right: 53%;
    top: 51%;
    bottom: 60%;
    border-radius: 100% 100% 100% 100%;
    border: 10px solid #CEB26B;
 }
.pic3 {
    width: 49%;
    height: 70%;
    position: absolute;
    top: 85%;
    bottom: 20%;
    left: 49.6%;
    right: 10%;
    border-radius: 100% 100% 100% 100%;
    border: 10px solid #CEB26B;
}
.pic4 {
   width: 60%;
   height: 40%;
   position: absolute;
   top: 125%;
   bottom: 0%;
   left: 0%;
   right: 80%;
   border-radius: 100% 100% 100% 100%;
   border: 10px solid #CEB26B;
}
.pic5 {
   width: 60%;
   height: 40%;
   position: absolute;
   top: 170%;
   bottom: -200%;
   left: 50%;
   right: 0%;
   border-radius: 100% 100% 100% 100%;
   border: 10px solid #CEB26B;
}
.pic6 {
   width: 60%;
   height: 40%;
   position: absolute;
   top: 210%;
   bottom: -200%;
   left: 0%;
   right: 50%;
   border-radius: 100% 100% 100% 100%;
   border: 10px solid #CEB26B
}
.pic7 {
   width: 60%;
   height: 40%;
   position: absolute;
   top: 250%;
   bottom: -250%;
   left: 50%;
   right: 0%;
   border-radius: 100% 100% 100% 100%;
   border: 10px solid #CEB26F;
}
.nowrap {
   white-space: nowrap ;
 }
 .pic8 {
   width: 40%;
   height: 40%;
   position: absolute;
   top: 5%;
   bottom: 100%;
   left: 5%;
   right: 90%;
 }
 .header {
   background-color: #CEB26F;
   color: #CEB26F;
   text-align: center;
   text-transform: uppercase;
   padding: 80px;
   font-size: 40px;
 }
p {
   color: #CEB26F;
   font-size: 35px;
   box-sizing: border-box;
   border: 8px solid #CEB26F;
} 
p.Hair {
   position: absolute;
   top: 50%;
   bottom: 90%;
   left: 80%;
   right: 20%;
   font-size: 100px;
}
.Menu {
   font-size: 35px;
   color: #0E0C0B;
   position: absolute;
   top: 5%;
   bottom: 95%;
   left: 5%;
   right: 95%;
}
.pic9 {
   width: 49%;
   height: 70%;
   position: absolute;
   border-radius: 100% 100% 100% 100%;
   border: 10px solid #CEB26F;
}
h2 {
   color: #CEB26F;
   text-align: right;
   padding: 30px;
   box-sizing: border-box;
   border: 8px solid #CEB26F;
   width: 40%;
   position: absolute;
   right: 0%;
   left: 55%;
   top: 70%;
}
h2.Shawna {
color: #CEB26F;
font-size: 30px;
top: 140%;
left: 5%;
right: 80%;
}
.pic10 {
   position: absolute;
   width: 49%;
   height: 70%;
   border-radius: 100% 100% 100% 100%;
   border: 8px solid #CEB26F;
   top: 120%;
   bottom: 0%;
   left: 50%;
   right: 40%;
}
h2.Pam {
   color: #CEB26F;
   top: 205%;
   left: 55%;
   right: 0%;
   position: absolute;
}
.pic11 {
   position: absolute;
   height: 70%;
   width: 49%;
   border-radius: 100% 100% 100% 100%;
   border: 8px solid #CEB26F;
   top: 180%;
   bottom: 0%;
}
input.email {
   position: absolute;
   top: 3%;
   z-index: 1;
   bottom: 80%;
   height: 15px;
}
input.password {
   position: absolute;
   top: 6%;
   bottom: 77%;
   height: 15px;
   z-index: 1;
}
button {
   position: absolute;
   top: 0%;
   left: 0%;
   right: 70%;
   bottom: 90%;
   border: none;
}
